pyfiglet~=0.8.post1
PyInquirer~=1.0.3
pybeerxml~=2.1.2

colorama~=0.3.7
termcolor~=1.1.0
git+https://github.com/tatobari/hx711py.git

Quart~=0.13.1
quart_openapi
quart_cors
swagger-ui-py
httpx

hx711~=0.1
w1thermsensor~=2.0.0a2
ndeflib
luma
Pillow
